[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-executable;
Actions=runInKitty;
X-KDE-AuthorizeAction=shell_access

[Desktop Action runInKitty]
TryExec=@HOME@/.local/bin/kitty
Exec=@HOME@/.local/bin/kitty --hold -e %f
Icon=@HOME@/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Name=Run In kitty
Comment=Run within kitty
